<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
        <div class="w-full min-h-screen bg-zinc-800 text-zinc-300 p-10">
            <h2 class="text-3xl text-white mb-5 ">Uplode File</h2>
            
             <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" class="px-2 py-2 outline-none bg-transparent border-2 border-zinc-900"  name="image">
            <input type="submit" class="px-5 rounded-md py-2 bg-blue-500 text-sm " value="uplode image">
        </form>
        
    </div>
</div>
    
</body>
</html>